// Flower Pots Less
// Version .1
.FlowerPotContainer {
	padding: 5px;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.TopPot {
		background: #e7e7e7;
		padding: 6px;
		cursor: pointer;
		margin-bottom: 4px;
		box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.5);
	}

	.FlowerPot {
		padding: 6px;
		cursor: pointer;
		position: relative;
		&.active {
			color: hsl(0,0%,59%);
			text-shadow:0px 1px 1px hsla(0,0%,100%,1.0);
			box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.5);
			margin: 0px 0px 4px 0px;
			background-color: #f7f7f7;
		}
		&.selected {
			background: hsl(212, 58%, 59%);
			color: white;
		}
		&.inactive {
			padding-left: 15px;
			border-bottom: 1px solid hsl(0,0%,90%);
			&:hover {
				background-color: hsl(211, 52%, 79%);
			}
		}
		i {
			display: none;
		}
		&.selected.HasChildren {
			i {
				display: block;
				position: absolute;
				width: 16px;
				height: 16px;
				right: 6px;
				top: 6px;
			}
		}
	}
	.ChildrenItems {
	border-left: 3px solid lighten(#000, 90%);
	}
}
