.FlowerPotContainer {
	border: 1px solid #333; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.FlowerPot {
		padding: 5px;  
		cursor: pointer;
	}
	.FlowerPot.active { 
		background: #ccc; 
		border-bottom: 1px solid #333;
	}
	.FlowerPot.selected {
		background: blue; 
		color: white;
	}
}
